<!-- --------- News Swipe Slider Section --------- -->
<section class="news-swipe-slider section">
  <div class="container">
    <div class="news-slider-box">
      <div class="news-swipe-slider-grid">
        <!-- news slider info -->
        <div class="news-slider-info">
          <h3 class="sub-heading">Breaking News!</h3>
          <h1 class="heading"><span class="ahly">Today Hot News</span></h1>
        </div>
        <!-- Swiper -->
        <div class="swiper newsSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img class="image" src="assets/news/WhatsApp Image 2023-09-19 at 6.14.09 PM.jpeg" alt="">

              <div class="news-card">
                <h4 class="sub-heading">sub header <title></title>
                </h4>
                <h2 class="heading">Header Title</h2>
                <p class="text">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nesciunt repellendus exercitationem quas
                  deserunt neque quo impedit.
                </p>
                <div class="news-card-footer">
                  <a href="#" download="" class="btn secondary-btn">read more <span><i
                        class="uil uil-arrow-right"></i></span></a>
                </div>
              </div>

            </div>
            <div class="swiper-slide">
              <img class="image" src="assets/news/WhatsApp Image 2023-09-19 at 6.15.43 PM.jpeg" alt="">

              <div class="news-card">
                <h4 class="sub-heading">sub header <title></title>
                </h4>
                <h2 class="heading">Header Title</h2>
                <p class="text">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis, quis, delectus
                  accusamus repudiandae consequatur est sed hic molestias itaque beatae.
                </p>
                <div class="news-card-footer">
                  <a href="#" download="" class="btn secondary-btn">read more <span><i
                        class="uil uil-arrow-right"></i></span></a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <img class="image" src="assets/news/WhatsApp Image 2023-09-19 at 6.17.28 PM.jpeg" alt="">

              <div class="news-card">
                <h4 class="sub-heading">sub header <title></title>
                </h4>
                <h2 class="heading">Header Title</h2>
                <p class="text">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis, quis, delectus
                  accusamus repudiandae consequatur est sed hic molestias itaque beatae.
                </p>
                <div class="news-card-footer">
                  <a href="#" download="" class="btn secondary-btn">read more <span><i
                        class="uil uil-arrow-right"></i></span></a>
                </div>
              </div>
            </div>
            <!-- <div class="swiper-slide">
                    <div class="news-card"></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="news-card"></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="news-card"></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="news-card"></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="news-card"></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="news-card"></div>
                  </div>-->
          </div>
          <div class="news-swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>