<!-- --------- Team Players Swiper Section --------- -->
<section class="team-players section">
  <div class="container">
    <div class="team-players-slider-box">
      <div class="team-players-swipe-slider-grid">
        <!-- trophy slider info -->
        <div class="team-players-slider-info">
          <h3 class="sub-heading">Team Players!</h3>
          <h1 class="heading"><span class="ahly">Al-Ahly</span> First Team Players</h1>
        </div>
        <div class="team-players-slider">
          <!-- Swiper -->
          <div class="swiper teamPlayersSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/players/كولر.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Kollar</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/احمد عبدالقادر.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Ahmed Abdel Kader</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/امام عاشور.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Emam Ashour</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/بيرسي تاو.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Bersi Taw</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/حسين-الشحات.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Housin Al-Shahat</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/خالد عبد الفتاح.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Khaled Abdel Fataah</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/ديانج.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Dyang</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/رضا سليم.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Reda Saleem</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/صلاح محسن.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Salah Mohsen</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/عبدالمنعم .png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Abdol Moneem</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/كريم فؤاد.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Kareem Fouad</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/كريم نيدفيد.png" alt="" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Kareem Nidvid</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/كهربا.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Kahrabaa</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/محمد فخري.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Mohamed Fakhry</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/محمد هاني.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Mohamed Hany</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/محمود متولي.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Mahmoud Metwally</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/احمد نبيل كوكا.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Ahmed Nabil Koka</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/اكرم توفيق.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Akram Tawfik</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/رأفت خليل.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Rafat Khalil</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/طاهر محمد طاهر.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Taher Mohamed Taher</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/علي معلول.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Ali Malool</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/كريم الدبيس.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Kareem Al-Dbais</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/محمد الشناوي.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Mohamed Al-Shenawy</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/محمد الضاوي كريستو.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Mohamed Al-Dawy Kristo</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/محمد زعلوك.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Mohamed Zalouk</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/محمد مجدي افشة.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Mohamed Magdy Afshah</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/مروان عطية.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Marawan Atia</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/مصطفى شوبير.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Mostafa Shobir</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/players/معتز محمد.png" class="team-players">
                <div class="team-players-desc">
                  <div class="team-players-title">Moataz Mohamed</div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="team-players-swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>