<!-- --------- Skills Section --------- -->
<section class="skills section">
  <div class="container">
    <div class="skills-box">
      <div class="box-heading">
        <h3 class="sub-heading" data-i18n="about_sub_heading">My skills</h3>
        <h1 class="heading" data-i18n="about_heading">Let me help you</h1>
        <div class="box-desc">
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, eaque voluptate alias voluptates voluptatem
            asperiores cum perspiciatis quam rerum amet. Deleniti quo non velit debitis consequatur necessitatibus ab a
            obcaecati.
          </p>
          <a href="" class="btn">Call Action</a>
        </div>
      </div>
      <div class="skills-wrap">
        <div class="skill">
          <div class="sk-progress">
            <svg>
              <circle cx="75" cy="75" r="68" />
            </svg>
            <h2 class="counter">
              <span data-target="89">0</span>%
            </h2>
          </div>
          <div class="sk-title">Cups</div>
        </div>

        <div class="skill">
          <div class="sk-progress">
            <svg>
              <circle cx="75" cy="75" r="68" />
            </svg>
            <h2 class="counter">
              <span data-target="68">0</span>%
            </h2>
          </div>
          <div class="sk-title">Africa</div>
        </div>

        <div class="skill">
          <div class="sk-progress">
            <svg>
              <circle cx="75" cy="75" r="68" />
            </svg>
            <h2 class="counter">
              <span data-target="82">0</span>%
            </h2>
          </div>
          <div class="sk-title">Super</div>
        </div>

        <div class="skill">
          <div class="sk-progress">
            <svg>
              <circle cx="75" cy="75" r="68" />
            </svg>
            <h2 class="counter">
              <span data-target="55">0</span>%
            </h2>
          </div>
          <div class="sk-title">Egypt League</div>
        </div>
      </div>
      <img src="./assets/dots.png" alt="" class="shape dots">
      <img src="./assets/square1.png" alt="" class="shape square">
    </div>
  </div>
</section>