<!-- --------- Video PlayLisy section --------- -->
<section class="video-list section">
  <div class="container">
    <div class="video-box">
      <div class="vid-title">
        <h3 class="sub-heading">Videos</h3>
        <h1 class="heading">Latest <span>Al-Ahly</span> Videos on <span>Youtube</span> </h1>
        <p class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, autem minima. Tenetur, perferendis mollitia
          fuga libero unde saepe porro optio, ipsa quia sint officiis? Voluptate hic rem qui debitis at.
        </p>
      </div>
      <div class="vid-main-wrapper">
        <!-- THE YOUTUBE PLAYER -->
        <div class="vid-container">
          <iframe id="vid_frame" src="https://www.youtube.com/embed/SDdvKOjft-E?list=PLe2ahwhMuGSfJ1D6F0noSh0WE87Iclb3l"
            frameborder="0" width="560" height="315"></iframe>
        </div>
        <!-- THE PLAYLIST -->
        <div class="vid-list-container">
          <ol id="vid-list">
            <li class="">
              <button class="active" data-vid-src="https://www.youtube.com/embed/SDdvKOjft-E?list">
                <span class="vid-thumb active"><img width=72
                    src="https://i.ytimg.com/vi/SDdvKOjft-E/hq720.jpg?sqp=-…RUAAIhCGAE=&rs=AOn4CLCljG-DS6pOotSAcibNRsL3aXLnxQ" /></span>
                <div class="desc">WeatherBeater™ Product Video</div>
              </button>
            </li>
            <li>
              <button data-vid-src="https://www.youtube.com/embed/pej_-WN7h4k?list">
                <span class="vid-thumb"><img width=72
                    src="https://i.ytimg.com/vi/pej_-WN7h4k/hqdefault.jpg?s…EIYAXABwAEG&rs=AOn4CLBFS698tZPtt5Ox7Y4ScgiuGMcVKg" /></span>
                <div class="desc">X-act Contour® Product Video</div>
              </button>
            </li>
            <li>
              <button data-vid-src="https://www.youtube.com/embed/XkcIucRiSKI?list">
                <span class="vid-thumb"><img width=72
                    src="https://i.ytimg.com/vi/XkcIucRiSKI/hqdefault.jpg?s…iBHKEAwDw==&rs=AOn4CLCscw-PjtkaMEbG4mLjzkjzpvKTPw" /></span>
                <div class="desc">GearBox® Product Video</div>
              </button>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://www.youtube.com/embed/BBwKIenSRDk?list">
                <span class="vid-thumb"><img width=72
                    src="https://i.ytimg.com/vi/BBwKIenSRDk/hqdefault.jpg?s…AFwAcABBg==&rs=AOn4CLBxij3Bl3QpKuyUNzUiVN5AyssMbQ" /></span>
                <div class="desc">Mud Guards Product Video</div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://www.youtube.com/embed/BYM6jgvVG_Q?list">
                <span class="vid-thumb"><img width=72
                    src="	https://i.ytimg.com/vi/BYM6jgvVG_Q/hqdefault.jpg?s…yBlKGIwDw==&rs=AOn4CLCYjiaSVRPIEsNBQt4-cnW1FA8R6Q" /></span>
                <div class="desc">Wheel Well Guards Product Video</div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://www.youtube.com/embed/M0QLpnp1gj0?list">
                <span class="vid-thumb"><img width=72
                    src="https://i.ytimg.com/vi/M0QLpnp1gj0/hqdefault.jpg?s…RhiIGUoTDAP&rs=AOn4CLDTorYGHDIpvbtn1CmZTq31kfESkA" /></span>
                <div class="desc">Cargo Liner Product Video</div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://www.youtube.com/embed/QsqFdk7Bzmk?list">
                <span class="vid-thumb"><img width=72
                    src="https://i.ytimg.com/vi/QsqFdk7Bzmk/hqdefault.jpg?s…Rh_IBkoKTAP&rs=AOn4CLAsVU0bYRxIMFpWcB4tv8JfJg9GcQ" /></span>
                <div class="desc">Husky Liners Products</div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://www.youtube.com/embed/LdjEa6QLFLk?list">
                <span class="vid-thumb"><img width=72
                    src="https://i.ytimg.com/vi/LdjEa6QLFLk/hqdefault.jpg?s…RhJIGUoXjAP&rs=AOn4CLDIdit_aDw__Ts3VWJyNlUrqoTycg" /></span>
                <div class="desc">Custom Molded Mud Guards</div>
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="video-list section">
  <div class="container">
    <div class="video-box">
      <div class="vid-title">
        <h3 class="sub-heading">Videos</h3>
        <h1 class="heading">Latest <span>Al-Ahly</span> Videos on <span>Youtube</span> </h1>
        <p class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, autem minima. Tenetur, perferendis mollitia
          fuga libero unde saepe porro optio, ipsa quia sint officiis? Voluptate hic rem qui debitis at.
        </p>
      </div>
      <div class="vid-main-wrapper">
        <!-- THE YOUTUBE PLAYER ->
        <div class="vid-container">
          <iframe id="vid_frame" src="https://www.youtube.com/embed/cOSEOYi9JS4?rel=0&showinfo=0&autohide=1"
            frameborder="0" width="560" height="315"></iframe>
        </div>
        <!-- THE PLAYLIST ->
        <div class="vid-list-container">
          <ol id="vid-list">
            <li class="">
              <button class="active" data-vid-src="https://youtube.com/embed/cOSEOYi9JS4">
                <span class="vid-thumb active"><img width=72
                    src="https://img.youtube.com/vi/cOSEOYi9JS4/default.jpg" /></span>
                <div class="desc">WeatherBeater™ Product Video</div>
              </button>
            </li>
            <li>
              <button data-vid-src="https://youtube.com/embed/9P7mEf4bilg">
                <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/9P7mEf4bilg/default.jpg" /></span>
                <div class="desc">X-act Contour® Product Video</div>
              </button>
            </li>
            <li>
              <button data-vid-src="https://youtube.com/embed/KHxNpXovl58">
                <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/KHxNpXovl58/default.jpg" /></span>
                <div class="desc">GearBox® Product Video</div>
              </button>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://youtube.com/embed/D_a2UBGsePQ">
                <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/D_a2UBGsePQ/default.jpg" /></span>
                <div class="desc">Mud Guards Product Video</div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://youtube.com/embed/vYoh2IgoBXg">
                <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/vYoh2IgoBXg/default.jpg" /></span>
                <div class="desc">Wheel Well Guards Product Video</div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://youtube.com/embed/RTHI_uGyfTM">
                <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/RTHI_uGyfTM/default.jpg" /></span>
                <div class="desc">Cargo Liner Product Video</div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://youtube.com/embed/EvTjAjLNphE">
                <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/EvTjAjLNphE/default.jpg" /></span>
                <div class="desc">Husky Liners Products</div>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" data-vid-src="https://youtube.com/embed/-Qpc79oaJQg">
                <span class="vid-thumb"><img width=72 src="https://img.youtube.com/vi/-Qpc79oaJQg/default.jpg" /></span>
                <div class="desc">Custom Molded Mud Guards</div>
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>  -->
