<!-- --------- Event Banner Section --------- -->
<section class="event-banner section" id="home">
  <div class="container2">
    <div class="event-background-shadow"></div>
    <img src="./assets/bannar//banner_01.jpeg" alt="" class="shape event-banner-image">
  </div>
</section>