<!-- --------- Testimonials Section --------- -->
<section class="testimonials section">
  <div class="container">
    <div class="section-background">
      <img src="./assets/person2.png" alt="" class="person">
      <img src="./assets/circle2.png" alt="" class="circle">
      <img src="./assets/square1.png" alt="" class="square">
    </div>
    <div class="swiper playersSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="client">
            <img src="./assets/testi1.png" alt="">
            <div class="client-info">
              <h4>Kelly Williams</h4>
              <h5>Exective Officer <a href="#">@*@ABEnergy*@</a></h5>
            </div>
          </div>
          <q class="text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, quasi incidunt deleniti dolore
            molestiae nihil, voluptas ratione, a cupiditate accusantium doloribus exercitationem recusandae dignissimos
            necessitatibus. Perspiciatis non nobis facere repudiandae!
          </q>
        </div>
        <div class="swiper-slide">
          <div class="client">
            <img src="./assets/testi2.png" alt="">
            <div class="client-info">
              <h4>Witold Gislenus</h4>
              <h5>CEO of <a href="#">@*@ECO_Focus*@</a></h5>
            </div>
          </div>
          <q class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eius ex saepe voluptatem quas laboriosam
            perferendis quia est pariatur suscipit non molestiae, placeat, deleniti eum eos modi ipsa necessitatibus.
            Ut!
          </q>
        </div>
        <div class="swiper-slide">
          <div class="client">
            <img src="./assets/testi3.png" alt="">
            <div class="client-info">
              <h4>Ben Dennis</h4>
              <h5>Software Engineer<a href="#">@*@Epic_Dev*@</a></h5>
            </div>
          </div>
          <q class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quisquam tenetur a omnis eius eligendi qui
            corporis modi earum. Ullam ea blanditiis rem. Tenetur autem, neque sed rem dolorem id.
          </q>
        </div>
      </div>
      <div class="players-swiper-pagination"></div>
    </div>
    <div class="testimonials-title">
      <h3 class="sub-heading">Board Members</h3>
      <h1 class="heading">Our members of the board</h1>
    </div>
  </div>
</section>