<!-- --------- Portfolio / Academy News Section --------- -->
<section class="portfolio section" id="portfolio">
  <div class="modal">
    <div class="modal-overlay"></div>
    <div class="slider-wrap">
      <div class="prev-btn navigation">
        <i class="uil uil-angle-left-b"></i>
      </div>
      <div class="images">
        <img class="showImage" src="assets/academy/academy_10.jpeg" alt="" />
        <img src="assets/academy/academy_09.jpeg" alt="" />
        <img src="assets/academy/academy_08.jpeg" alt="" />
        <img src="assets/academy/academy_07.jpeg" alt="" />
        <img src="assets/academy/academy_06.png" alt="" />
        <img src="assets/academy/academy_05.png" alt="" />
      </div>
      <div class="next-btn navigation">
        <i class="uil uil-angle-right-b"></i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="portfolio-header">
      <div class="portfolio-title">
        <h3 class="sub-heading">News</h3>
        <h1 class="heading">Latest Al-Ahly Academy news </h1>
      </div>
      <div class="filter-btns">
        <button class="filter-btn" data-filter="all">All</button>
        <button class="filter-btn" data-filter=".product">News</button>
        <button class="filter-btn" data-filter=".inter">Academy</button>
        <button class="filter-btn" data-filter=".web">Events</button>
      </div>
    </div>
    <div class="portfolio-gallery">
      <div class="mix prt-card inter">
        <div class="prt-image">
          <img src="./assets/academy/academy_10.jpeg" alt="" />
          <div class="prt-overlay">
            <span class="prt-icon zoom-icon" style="--i: 0s;">
              <i class="uil uil-search-plus"></i>
            </span>
            <a href="#" class="prt-icon" style="--i: 0.15s;">
              <i class="uil uil-link-h"></i>
            </a>
          </div>
        </div>
        <div class="prt-desc">
          <h3>Olido interaction</h3>
          <a href="#" class="btn secondary-btn sm">Read more</a>
        </div>
      </div>
      <div class="mix prt-card product">
        <div class="prt-image">
          <img src="./assets/academy/academy_09.jpeg" alt="" />
          <div class="prt-overlay">
            <span class="prt-icon  zoom-icon" style="--i: 0s;">
              <i class="uil uil-search-plus"></i>
            </span>
            <a href="#" class="prt-icon" style="--i: 0.15s;">
              <i class="uil uil-link-h"></i>
            </a>
          </div>
        </div>
        <div class="prt-desc">
          <h3>John product design</h3>
          <a href="#" class="btn secondary-btn sm">Read more</a>
        </div>
      </div>
      <div class="mix prt-card web">
        <div class="prt-image">
          <img src="./assets/academy/academy_08.jpeg" alt="" />
          <div class="prt-overlay">
            <span class="prt-icon  zoom-icon" style="--i: 0s;">
              <i class="uil uil-search-plus"></i>
            </span>
            <a href="#" class="prt-icon" style="--i: 0.15s;">
              <i class="uil uil-link-h"></i>
            </a>
          </div>
        </div>
        <div class="prt-desc">
          <h3>Meta web design</h3>
          <a href="#" class="btn secondary-btn sm">Read more</a>
        </div>
      </div>
      <div class="mix prt-card web">
        <div class="prt-image">
          <img src="./assets/academy/academy_07.jpeg" alt="" />
          <div class="prt-overlay">
            <span class="prt-icon  zoom-icon" style="--i: 0s;">
              <i class="uil uil-search-plus"></i>
            </span>
            <a href="#" class="prt-icon" style="--i: 0.15s;">
              <i class="uil uil-link-h"></i>
            </a>
          </div>
        </div>
        <div class="prt-desc">
          <h3>TwitUp web design</h3>
          <a href="#" class="btn secondary-btn sm">Read more</a>
        </div>
      </div>
      <div class="mix prt-card inter">
        <div class="prt-image">
          <img src="./assets/academy/academy_06.png" alt="">
          <div class="prt-overlay">
            <span class="prt-icon  zoom-icon" style="--i: 0s;">
              <i class="uil uil-search-plus"></i>
            </span>
            <a href="#" class="prt-icon" style="--i: 0.15s;">
              <i class="uil uil-link-h"></i>
            </a>
          </div>
        </div>
        <div class="prt-desc">
          <h3>Markus interaction</h3>
          <a href="#" class="btn secondary-btn sm">Read more</a>
        </div>
      </div>
      <div class="mix prt-card web">
        <div class="prt-image">
          <img src="./assets/academy/academy_05.png" alt="">
          <div class="prt-overlay">
            <span class="prt-icon  zoom-icon" style="--i: 0s;">
              <i class="uil uil-search-plus"></i>
            </span>
            <a href="#" class="prt-icon" style="--i: 0.15s;">
              <i class="uil uil-link-h"></i>
            </a>
          </div>
        </div>
        <div class="prt-desc">
          <h3>Demga web design</h3>
          <a href="#" class="btn secondary-btn sm">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>