<!-- --------- Trophy Section --------- -->
<section class="trophy section">
  <div class="container">
    <div class="trophy-slider-box">
      <div class="trophy-swipe-slider-grid">
        <!-- trophy slider info -->
        <div class="trophy-slider-info">
          <h3 class="sub-heading">CLUB TROPHY!</h3>
          <h1 class="heading"><span class="ahly">Al-Ahly</span> 148 Victories</h1>
        </div>
        <div class="trophy-slider">
          <!-- Swiper -->
          <div class="swiper trophySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/trophy/Africa_Champions_League_11.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Africa Champions League</div>
                  <div class="trophy-aquired">11</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Africa_CupChampions_Cup_4.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Africa Champions Cup</div>
                  <div class="trophy-aquired">4</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/African_Super_Cup_8.jpg" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">African Super <br /> Cup</div>
                  <div class="trophy-aquired">8</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/AfroAisha_Cup_1.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Africa-Aisha <br /> Cup</div>
                  <div class="trophy-aquired">1</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Arab_Rpublic_Of_Egypt_Cup_1.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Arab Rpublic Of Egypt Cup</div>
                  <div class="trophy-aquired">1</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Arabic_Campions_Cup_4.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Arab Campions Cup</div>
                  <div class="trophy-aquired">4</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Cairo_League_16.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Cairo <br /> League</div>
                  <div class="trophy-aquired">16</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Confidral_Cup_1.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Confidral <br />Cup</div>
                  <div class="trophy-aquired">1</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/EG_League_43.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Egyptian <br />League</div>
                  <div class="trophy-aquired">43</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Egyptian_Cup_33.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Egyptian <br />Cup</div>
                  <div class="trophy-aquired">33</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Egyptian_Super_Cup_13.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Egyptian Super <br />Cup</div>
                  <div class="trophy-aquired">13</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Egyptian_Union_Activation_Cup_1.png" alt=""
                  class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Egyptian Union Activation Cup</div>
                  <div class="trophy-aquired">1</div>
                </div>
              </div>
              <div class="swiper-slide"><img src="assets/trophy/Sultan_Hossin_Cup_7.png" alt="" class="trophy">
                <div class="trophy-desc">
                  <div class="trophy-title">Sultan Houssin <br />Cup</div>
                  <div class="trophy-aquired">7</div>
                </div>
              </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="trophy-swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>