<!-- --------- Services / Other Activities Section --------- -->
<section class="services section" id="services">
  <img src="./assets/triangle.png" class="shape triangle" />
  <div class="container">
    <div class="servces-info">
      <h3 class="sub-heading">Our Activities</h3>
      <h1 class="heading">Other activities for our members</h1>
      <p class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus temporibus numquam vitae nesciunt? Esse natus
        quis alias earum aspernatur doloremque sapiente velit autem molestias error, maxime repellendus animi quo saepe.
      </p>
      <div class="milestones">
        <div class="ml">
          <h2 class="number"><span data-target="11">0</span>+</h2>
          <h5>Years</h5>
        </div>
        <div class="ml">
          <h2 class="number"><span data-target="79">0</span>+</h2>
          <h5>Hand Ball</h5>
        </div>
        <div class="ml">
          <h2 class="number"><span data-target="95">0</span>+</h2>
          <h5>Basket Ball</h5>
        </div>
      </div>
      <div class="cta">
        <a href="#" class="btn">Contact us</a>
        <a href="./assets/markusCV.pdf" class="btn secondary-btn">Download Info</a>
      </div>
    </div>
    <div class="services-grid">
      <div class="srv-card">
        <div class="card-desc">
          <h3>Basket Ball</h3>
          <p class="text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, corporis illum. Laboriosam
            perferendis quaerat esse accusantium similique assumenda libero quo error dolorem, ipsum nulla quidem
            labore. Mollitia iusto molestiae animi.
          </p>
        </div>
        <a href="#" class="btn secondary-btn">Explore More</a>
      </div>
      <div class="srv-card">
        <div class="card-desc">
          <h3>Hand Ball</h3>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro delectus nisi, ipsum alias assumenda error
            ratione dolore id maiores nesciunt quis praesentium laboriosam fuga sed officia quaerat. Placeat, libero
            modi.
          </p>
        </div>
        <a href="#" class="btn secondary-btn">Explore More</a>
      </div>
      <div class="srv-card">
        <div class="card-desc">
          <h3>Volly Ball</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsum assumenda quisquam labore dolore
            pariatur nostrum placeat, blanditiis aut ullam, commodi odio, dignissimos officiis nemo impedit facere
            doloremque itaque earum.
          </p>
        </div>
        <a href="#" class="btn secondary-btn">Explore More</a>
      </div>
      <div class="srv-card">
        <div class="card-desc">
          <h3>Tennies</h3>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum quasi mollitia maxime natus, fugit aliquid
            facere laudantium hic asperiores nihil deleniti repellat voluptatem voluptate eos libero, numquam
            perspiciatis ad reiciendis.
          </p>
        </div>
        <a href="#" class="btn secondary-btn">Explore More</a>
      </div>
      <img src="./assets/square1.png" class="shape square">
    </div>
  </div>
</section>