<!-- --------- Subscription Section --------- -->
<section class="subscription section">
    <div class="container">
        <img src="assets/map.png" alt="" class="map">
        <div class="sub-box">
            <img src="assets/square2.png" class="shape square">
            <div class="sub-info">
                <h3 class="sub-heading">Newsletters</h3>
                <h1 class="heading">Get news about Al-Ahly</h1>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet nesciunt reiciendis ipsum, labore
                    vitae
                    repudiandae pariatur corporis quibusdam, quae, excepturi nisi reprehenderit? Sequi facilis voluptate
                    ratione
                    rerum qui, ipsum ut?
                </p>
            </div>
            <form action="index.html">
                <input type="email" placeholder="Email" class="form-input" required>
                <input type="submit" value="Subscribe" class="btn">
            </form>
        </div>
    </div>
</section>