<!-- --------- News Section --------- -->
<section class="news-grid section" id="news-slider">
  <div class="container">
    <div class="news-grid-box">
      <div class="news-section-title">
        <h3 class="sub-heading">Akhbar El-Ahly</h3>
        <h1 class="heading">Latest news about al-ahly club</h1>
      </div>
      <div class="news-cards">
        <div class="news-card">
          <div class="overlay"></div>
          <picture>
            <img src="assets/news/WhatsApp Image 2023-09-19 at 6.14.27 PM.jpeg" class="news-image" />
          </picture>
          <div class="news-info">
            <h2 class="news-title">
              Koller, Karim and Reda reflect on a fantastic night in Alexandria
            </h2>
            <p class="text news-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore illum obcaecati ab suscipit soluta
              quas cum modi, repellat quos natus saepe ex officia odio nesciunt unde officiis id commodi.
            </p>
          </div>
        </div>
        <div class="news-card">
          <div class="overlay"></div>
          <picture>
            <img src="assets/news/WhatsApp Image 2023-09-19 at 8.38.16 PM.jpeg" class="news-image" />
          </picture>
          <div class="news-info">
            <h2 class="news-title">
              Superb Eagles achieve perfect start to the league campaign
            </h2>
            <p class="text news-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore illum obcaecati ab suscipit soluta
              quas cum modi, repellat quos natus saepe ex officia odio nesciunt unde officiis id commodi.
            </p>
          </div>
        </div>
        <div class="news-card">
          <div class="overlay"></div>
          <picture>
            <img src="assets/news/WhatsApp Image 2023-09-19 at 8.40.07 PM.jpeg" class="news-image" />
          </picture>
          <div class="news-info">
            <h2 class="news-title">
              Starting line-up announced for Al Masry's match
            </h2>
            <p class="text news-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore illum obcaecati ab suscipit soluta
              quas cum modi, repellat quos natus saepe ex officia odio nesciunt unde officiis id commodi.
            </p>
          </div>
        </div>
        <div class="news-card">
          <div class="overlay"></div>
          <picture>
            <img src="assets/news/WhatsApp Image 2023-09-19 at 6.15.09 PM.jpeg" class="news-image" />
          </picture>
          <div class="news-info">
            <h2 class="news-title">
              Al Ahly begin League title defense campaign tonight in Alexandria
            </h2>
            <p class="text news-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore illum obcaecati ab suscipit soluta
              quas cum modi, repellat quos natus saepe ex officia odio nesciunt unde officiis id commodi.
            </p>
          </div>
        </div>
        <div class="news-card">
          <div class="overlay"></div>
          <picture>
            <img src="assets/news/WhatsApp Image 2023-09-19 at 6.17.42 PM.jpeg" class="news-image" />
          </picture>
          <div class="news-info">
            <h2 class="news-title">
              Al Ahly conclude preparations for Egyptian League opener
            </h2>
            <p class="text news-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore illum obcaecati ab suscipit soluta
              quas cum modi, repellat quos natus saepe ex officia odio nesciunt unde officiis id commodi.
            </p>
          </div>
        </div>
        <div class="news-card">
          <div class="overlay"></div>
          <picture>
            <img src="assets/news/WhatsApp Image 2023-09-19 at 8.41.25 PM.jpeg" class="news-image" />
          </picture>
          <div class="news-info">
            <h2 class="news-title">
              The Red Eagles return to training ahead of pre-season trip to Austria
            </h2>
            <p class="text news-desc">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore illum obcaecati ab suscipit soluta
              quas cum modi, repellat quos natus saepe ex officia odio nesciunt unde officiis id commodi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>