<!-- --------- Showcase Area Section --------- -->
<section class="showcase-area" id="home">
  <img src="./assets/square1.png" alt="" class="shape square">
  <div class="container">
    <div class="showcase-info">
      <h3 class="sub-heading">Abril Event</h3>
      <h1 class="heading"><span class="ahly">Al-AHLY</span> Events, Gathers our fans
        <p class="text">Join us in the comming big event of .... . Let's work together.</p>
        <div class="cta">
          <a href="mailto:ahmedgalal007@gmail.com" class="btn">Contact Us</a>
          <a href="./assets/markusCV.pdf" download class="btn secondary-btn">Download</a>
        </div>
    </div>
    <div class="showcase-image">
      <div class="fixed-container">
        <div class="parallax-container">
          <div class="banner">
            <img src="./assets/bannar/banner1.jpeg" alt="Al Ahly" class="image">
          </div>
        </div>
      </div>
      <img src="./assets/circle1.png" alt="" class="shape circle">
      <img src="./assets/dots.png" alt="" class="shape dots">
    </div>
  </div>
</section>